final flow.json
[{"id":"210f9907.153446","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"524c670b.5975f8","type":"ui_form","z":"210f9907.153446","name":"","label":"","group":"10d4387f.f59638","order":0,"width":0,"height":0,"options":[{"label":"winsorized_Income_Comp_Of_Resources","value":"a","type":"number","required":true,"rows":null},{"label":"winsorized_HIV","value":"b","type":"number","required":true,"rows":null},{"label":"winsorized_Adult_Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Developing","value":"d","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["f88e1bf7.3b1af8"]]},{"id":"f88e1bf7.3b1af8","type":"function","z":"210f9907.153446","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\n\n\n//following are required to receive a token\nvar apikey=\"sV7WEbSGdzfbZtN5aHJPXyjhqEDDZq0IssJsncpgYJoz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["5c84a2ce.193b5c"]]},{"id":"4d4937cf.c8f398","type":"http request","z":"210f9907.153446","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/da263952-d8c5-4325-922e-0a5a3533df5a/deployments/64b74130-a51b-4454-9edc-acafd0a163f9/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["6494bfd9.e934f","1206df68.c02a81"]]},{"id":"c57b28e1.b34128","type":"debug","z":"210f9907.153446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"6494bfd9.e934f","type":"function","z":"210f9907.153446","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["c318396f.852a68","c57b28e1.b34128"]]},{"id":"1206df68.c02a81","type":"debug","z":"210f9907.153446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"283880be.2d7e1","type":"function","z":"210f9907.153446","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"da263952-d8c5-4325-922e-0a5a3533df5a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\n\n\n//send the user values to service endpoint\nmsg.payload = {\"fields\":['winsorized_Income_Comp_Of_Resources',\n       'winsorized_HIV', 'winsorized_Adult_Mortality', 'Developing'],\n\"values\":[[a,b,c,d]]};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["4d4937cf.c8f398"]]},{"id":"5c84a2ce.193b5c","type":"http request","z":"210f9907.153446","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["283880be.2d7e1"]]},{"id":"c318396f.852a68","type":"ui_text","z":"210f9907.153446","group":"10d4387f.f59638","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy Prediction","format":"{{msg.payload}}","layout":"row-center","x":677,"y":393,"wires":[]},{"id":"10d4387f.f59638","type":"ui_group","z":"","name":"Default","tab":"69e0af19.1a516","order":2,"disp":true,"width":"6","collapse":false},{"id":"69e0af19.1a516","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]